

<template name="addCommentForm">
	<div class="row">
		<div class="col-xs-12">
			<form class="add-comment-form">
		    <div class="input-group">
		      <input type="text" class="form-control add-comment-text" placeholder="What do you think?">
		      <span class="input-group-btn">
		        <button class="btn btn-default add-comment-button"><i class="glyphicon glyphicon-plus"></i> Save</button>
		      </span>
		    </div>
		  </form>
    </div>
  </div>
</template>

<template name="comment">
	<div class="row">
		<div class="col-xs-12" title="{{created}}">
			{{#if equals owner currentUser._id}}
				<button class="btn btn-link pull-right remove-comment"><small><i class="glyphicon glyphicon-remove"></i></small></button>
			{{/if}}
			{{> avatar userId=owner shape="circle" size="extra-small" class="pull-left margin-a-bit"}}
			{{#if hasOneLink}}
				<a href="{{firstLink}}" target="_blank">{{delinked}}</a>
			{{else}}
				{{#if hasLink}}
					{{#autolink}}
						{{text}}
					{{/autolink}}
				{{else}}
					{{text}}
				{{/if}}
			{{/if}}
		</div>
	</div>
</template>

<template name="comments">
	{{#if comments.count}}
	  <div class="panel-body">
			{{#each comments}}
				{{> comment}}
			{{/each}}
		</div>
	{{/if}}
</template>