

<template name="imageList">
	<div class="image-list">
		{{#each images}}
			{{#if showIt ../_id ../images}}
				<img src={{showIt ../_id ../images}} source="{{this}}" class="showable {{#if showing ../_id}}showing{{/if}}">
			{{/if}}
		{{/each}}
		<span class="image-pos">
			{{imagepos}} / {{images.length}}
			<span class="glyphicon glyphicon-camera"></span>
		</span>
	</div>
</template>

<template name="link">
	<div class="masonry-brick masonry-no-break link-card {{#if link.archived}}link-archived{{/if}} {{#if link.scanned.sold}}link-sold{{/if}}">
		<div class="panel {{#if link.archived}}panel-danger{{else}}panel-default{{/if}}">
			{{#if link.scanned.images.length}}
	    	<div class="panel-image no-select">
					{{> imageList images=link.scanned.images url=link.url _id=link._id}}
					{{#if link.scanned.price}}
						<span class="price">{{{link.scanned.price}}}</span>
					{{/if}}
				</div>
			{{else}}
				{{#if link.image}}
		    	<div class="panel-image no-select">
						<img src="{{link.image}}" alt="{{link.title}}" class="single-image" />
						{{#if link.scanned.price}}
							<span class="price">{{{link.scanned.price}}}</span>
						{{/if}}
		    	</div>
				{{/if}}
			{{/if}}
	    <div class="panel-heading no-select">
				{{> avatar userId=link.owner shape="circle" size="small" class="pull-right"}}
      	<h4>
					<a href="{{link.url}}" target="_blank">
						{{#if link.scanned.sold}}SOLD: {{/if}}
						{{eitherMaxLength link.title link.url 120}}
	        </a>
				</h4>
	    </div>
    	<ul class="nav nav-right">
	    	<li class="btn-group pull-left">
	    		<button class="btn btn-link navbar-btn like-link {{#if liked}}liked-link{{/if}}">
	    			{{#if currentUser}}
	    				{{#if liked}}
		    				<span class="glyphicon glyphicon-heart"></span>
		    			{{else}}
		    				<span class="glyphicon glyphicon-heart-empty"></span>
		    			{{/if}}
		    		{{else}}
		    			<span class="glyphicon glyphicon-heart"></span>
	    			{{/if}}
	    			<span>{{likes}}</span>
	    		</button>
	    		{{> likables likes=link.likes link=link._id}}
	    	</li>
  			<li class="btn-group pull-right">
				  <button type="button" class="btn btn-link toggle-share-link">
				    <span class="fa fa-share-alt"></span>
				  </button>
				</li>
    		{{#if mayArchive}}
    			<li class="btn-group pull-right">
					  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span class="glyphicon glyphicon-option-horizontal"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li>
          			<a href="#" class="btn rescan-link"><span class="glyphicon glyphicon-repeat"></span> Rescan</a>
					    </li>
					    <li>
          			<a href="#" class="btn archive-link"><span class="glyphicon glyphicon-trash"></span> 
          				{{#if link.archived}}Unarchive{{else}}Archive{{/if}}
          			</a>
					    </li>
    					{{#if mayRemove}}
						    <li>
	          			<a href="#" class="btn remove-link"><span class="glyphicon glyphicon-remove"></span> Delete</a>
						    </li>
							{{/if}}
					  </ul>
					</li>
				{{/if}}
	    </ul>
	    {{#if showShare}}
	    	{{> sharePanelBody}}
	    {{/if}}
		  {{> comments}}
	    {{#if currentUser}}
	    	<div class="panel-footer">
	    		{{> addCommentForm}}
	    	</div>
	    {{/if}}
	  </div>
	</div>
</template>

<template name="sharePanelBody">
  <div class="panel-body">
  	<div class="input-group">
    	<input type="text" readonly class="form-control share-input" value="{{shareUrl}}" />
    	<span class="input-group-btn">
    		<a href="{{shareify 'facebook' shareUrl}}" class="btn btn-default" target="_blank">
    			<span class="fa fa-facebook-official"></span>
    		</a>
    		<a href="{{shareify 'twitter' shareUrl}}" class="btn btn-default" target="_blank">
    			<span class="fa fa-twitter-square"></span>
    		</a>
    	</span>
  	</div>
  </div>
</template>

<template name="likables">
	{{#each likables}}
		<button title="Like the {{this.name}}" class="btn navbar-btn likable-link {{#if liked ../link this.code}}liked-likable{{/if}}">
			<span class="glyphicon glyphicon-{{this.icon}}"></span>
			<span>{{#if likes ../link this.code}}{{likes ../link this.code}}{{/if}}</span>
		</button>
	{{/each}}
</template>