
<template name="lists">
	<div class="masonry-wall">
		{{#if currentUser}}
			{{> listPanel lists=ownerLists title="Your Lists" details="true"}}
			{{> listPanel lists=subscribedLists title="Subscribed Lists" details="true" noLists="You haven't subscribed to any lists yet."}}
			{{> listPanel lists=recentLists title="Recently Viewed Lists" details="true"}}
		{{else}}
			<div class="masonry-brick masonry-no-break">
				<div class="alert alert-warning">Register/Login to create your own lists, comment on, and subscribe to others.</div>
			</div>
		{{/if}}
		{{> listPanel lists=publicLists title="Public Lists"}}
	</div>
</template>

<template name="listPanel">
	<div class="masonry-brick masonry-no-break">
		<div class="panel panel-default">
			{{#if title}}
				<div class="panel-heading">
					<h2 class="panel-title">{{title}}</h2>
				</div>
			{{/if}}
			<div class="panel-body">
				{{#if warning}}
		    	<div class="alert alert-warning" role="alert">{{warning}}</div>
		    {{else}}
		    	{{#if either lists.count lists.length}}
					  {{#each lists}}
					  	{{> listItem list=this details=../details}}
					  {{/each}}
		    	{{else}}
		    		{{#if noLists}}
		    			<div class="alert alert-warning" role="alert">{{noLists}}</div>
		    		{{/if}}
		    	{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="listItem">
  <h4>
		{{#if this.details}}
			{{#if list.public}}
				<i class="glyphicon glyphicon-globe"></i>
			{{else}}
				<i class="glyphicon glyphicon-lock"></i>
			{{/if}}
		{{/if}}
  	<a href="{{pathFor 'list' _id=list._id}}">{{list.name}}</a>
  </h4>
</template>

<template name="addLinkForm">
	<form class="add-link-form">
		<div class="well add-link-handler">
	    <div class="input-group">
	      <input type="text" class="form-control add-link-url" placeholder="Enter url(s) to property page(s)...">
	      <span class="input-group-btn">
	        <button class="btn btn-default add-link-button"><i class="glyphicon glyphicon-plus"></i> Save</button>
	      </span>
	    </div>
	  </div>
  </form>
</template>

<template name="list">
	{{#if getSession 'targetLink'}}
		<div class="nav nav-default">
			<li class="presentation">
				<a href="{{pathFor 'list' _id=list._id}}">
					<i class="glyphicon glyphicon-hand-left"></i> {{either list.name 'Back to full list'}}
				</a>
			</li>
		</div>
	{{else}}
		{{#if currentUser}}
			<label class="checkbox-inline pull-right no-select">
				{{#if inArray list._id currentUser.profile.subscriptions}}
					<i class="fa fa-bell"></i>
			  	<input class="big-checkbox toggle-subscribe" type="checkbox" checked="checked">
			  	Subscribed
				{{else}}
					<i class="fa fa-bell-o"></i>
			  	<input class="big-checkbox toggle-subscribe" type="checkbox">
			  	Subscribe
				{{/if}}
			</label>
		{{/if}}
		<label class="checkbox-inline pull-right no-select advance-sort">
				<i class="glyphicon glyphicon-{{#if equals sortValue 1}}sort-by-order{{else}}sort-by-order-alt{{/if}}"></i>
				{{sortName}}
		</label>
		<!-- {{> avatar user=currentUser shape="circle" size="small"}} -->
		<label class="checkbox-inline pull-right no-select">
			{{#if viewArchived}}
				<i class="glyphicon glyphicon-eye-open"></i>
			{{else}}
				<i class="glyphicon glyphicon-eye-close"></i>
			{{/if}}
		  <input class="big-checkbox toggle-archived" type="checkbox" checked={{viewArchived}}>
		  {{#if viewArchived}}Archived{{else}}Active{{/if}}
		</label>
		{{#if editable}}
			<label class="checkbox-inline pull-right no-select">
				{{#if list.public}}
					<i class="glyphicon glyphicon-globe"></i>
				{{else}}
					<i class="glyphicon glyphicon-lock"></i>
				{{/if}}
			  <input class="big-checkbox toggle-public" type="checkbox" checked={{list.public}}>
			  {{#if list.public}}Public{{else}}Private{{/if}}
			</label>
		{{/if}}
	  <h2 class="cause-edit">
			{{#if editing}}
				<input type="text" class="form-control edit-list-name" placeholder="Name this list" value="{{list.name}}" />
			{{else}}
		  	{{list.name}}
	  	{{/if}}
	  </h2>
	  <p class="cause-edit">
			{{#if editing}}
				<input type="text" class="form-control edit-list-description" placeholder="Detailed description" value="{{list.description}}" />
			{{else}}
	  		{{#if list.description}}{{list.description}}{{/if}}
	  	{{/if}}
	  </p>
	  {{#if currentUser}}
			{{#unless editing}}
			  <div class="add-link-container check-scroll">
			  	{{> addLinkForm list}}
			  </div>
		  {{/unless}}
	  {{/if}}
  {{/if}}
	<div class="masonry-wall {{masonryCap}}"> 
	  {{#each links}}
	  	{{> link list=../list link=this}}
	  {{/each}}
	</div>
</template>
