<template name="nav">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{brand}}</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- // Add links to routes -->
          {{#if currentUser}}
            <li>
              <a class="btn btn-link" href="{{pathFor 'activities'}}">
                <i class="glyphicon glyphicon-list-alt"></i>
                Activity
                {{#if unreadActivities}}
                  <span class="label label-info label-as-badge">{{unreadActivities}}</span>
                {{/if}}
              </a>
            </li>
            <li><a class="btn btn-link new-list"><i class="glyphicon glyphicon-plus"></i> New List</a></li>
          {{/if}}
          {{#if isInRole 'admin'}}
            <li><a class="btn btn-link" href="{{pathFor 'scrapers'}}"><i class="glyphicon glyphicon-cog"></i> Scrapers</a></li>
          {{/if}}
          <!-- 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
           -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
        	{{> loginButtons}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</template>